- @task.simple_assignee_events.each do |e|
  != link_to textify_event(e), task_path(@task, :event => e), :method => :put, :confirm => _('Are you sure?')

- if @task.can_be_abandoned?
  #abandon_task
    != render(:partial => "abandon")
