- @task.simple_editor_events.each do |e|
  != link_to textify_event(e), task_path(@task, :event => e), :method => :put, :confirm => _('Are you sure?')

- if @task.can_be_rejected?
  #reject_task
    != render(:partial => "reject")

- if @task.can_create_new_task?
  != link_to_function _("Create new task based on this one"), toggle_chained_js, :id => "new_task_link"
  #new_task_container{:style => "display:none"}
    != render(:partial => "tasks/new_chain_task")