- if task.assignee?(current_user)
  - task.simple_assignee_events.each do |e|
    != link_to textify_event(e), task_path(task, :event => e), :method => :put, :confirm => "Are you sure?"

- if task.editor?(current_user)
  - task.simple_editor_events.each do |e|
    != link_to textify_event(e), task_path(task, :event => e), :method => :put, :confirm => "Are you sure?"
  != link_to "Reassign", edit_task_assignment_path(task)

!= link_to "More Actions", task_path(task)