%h3 Task:
%strong= textify_state(@task.state)

%h4 Description:
%p= @task.name

- unless @task.documents.blank?
  %h4 Attached documents
  != render(:partial => "documents/document", :collection => @task.documents, :as => :document)

!= render(:partial => "new_document")