- if resource.errors.empty?
  $("#popup-content").html("#{escape_javascript(render :partial => "admin/task_kinds/task_kinds")}");
  $("#new_kind_msg").html("New kind was created successfully!");
  $("#new_kind_msg").show();
- else
  $("#popup-content").html("#{escape_javascript(render :partial => "admin/task_kinds/new")}");
  $("#new_kind_msg").html("#{resource.errors.full_messages.to_a.join(',')}");
  $("#new_kind_msg").show();
