- if resource.errors.empty?
  $("#new_kind_msg").html("Kind was deleted successfully!");
  $("#task_kind_#{params[:id]}").remove();
  $("#task_task_kind_id option[value='#{@task_kind.id}']").remove();
  index_html = "#{escape_javascript(render :template => "admin/task_kinds/index")}";
- else
  $("#new_kind_msg").html("#{resource.errors.full_messages.to_a.join(',')}");
  $("#new_kind_msg").show();
