#header, #content, #footer {
	border:1px solid #eee;
}

#tabs {
	padding-top:1em;
}

#tabs ul.tabs {
	height:auto;
}

table.list {
	width:100%;
}

table.list tr.title {
	background:#eee;
}

table.list td,  table.list th{
	border:1px solid #ddd;
}

div.editor_eyes_only {
	background:#eee;
}

div.rejection_reason {
	border:1px solid red;
}

div.abandoning_reason {
	border:1px solid blue;
}

div.finished_reason {
	border:1px solid green;
}