#header, #content, #footer {
  border:1px solid #eee;
}

#tabs {
  padding-top:1em;
}

#tabs ul.tabs {
  height:auto;
  direction:rtl;
  margin-left: 213px;
}

table.list {
  width:100%;
}

table.list tr.title {
  background:#eee;
}

table.list td,  table.list th{
  border:1px solid #ddd;
}

div.editor_eyes_only {
  background:#eee;
}

div.rejection_reason {
  border:1px solid red;
}

div.abandoning_reason {
  border:1px solid blue;
}

div.finished_reason {
  border:1px solid green;
}

.disabled-user td {
  background:red;
}

.site-notice {
  margin:2em 0;
  padding:1em 5em;
  border:1px solid #ddd;
  background:#e5ecf9;
  border-left:1em solid #ddd;
}

.block.prominent {
  font-size:125%;
  background:#E5ECF9;
}

.prominent a {
  font-weight:bold;
}

.simplemodal-data{
  direction:rtl;
}

#simplemodal-container .simplemodal-container {
  border:2px solid gray;
  background:#e5ecf9;
  padding-right:15px;
  padding-left:15px;
  padding-top:5px;
}

#simplemodal-container a.modalCloseImg {
  background:url(/images/x.png) no-repeat; /* adjust url as required */
  width:25px;
  height:29px;
  display:inline;
  z-index:3200;
  position:absolute;
  top:-15px;
  right:-18px;
  cursor:pointer;
}

#new_kind_msg {
  background:white;
  display:none;
}

/*
 * #XXX
[if lt IE 7]
#simplemodal-container a.modalCloseImg {
  background:none;
  right:-14px;
  width:22px;
  height:26px;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='img/x.png', sizingMethod='scale'
  );
}
*/

table { table-layout: fixed }
td { overflow: hidden }