.uploadifyQueueItem {
	background-color:#F5F5F5;
	border:2px solid #E5E5E5;
	font-family:Verdana,Geneva,sans-serif;
	font-size:11px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
	margin-top:5px;
	padding:10px;
	width:350px;
}
.uploadifyError {
	background-color:#FDE5DD !important;
	border:2px solid #FBCBBC !important;
}
.uploadifyQueueItem .cancel {
	float:right;
}
.uploadifyProgress {
	background-color:#FFFFFF;
	border-color:#808080 #C5C5C5 #C5C5C5 #808080;
	border-style:solid;
	border-width:1px;
	margin-top:10px;
	width:100%;
}
.uploadifyProgressBar {
	background-color:#0099FF;
	height:3px;
	width:1px;
}
