- f.inputs :name => s_("task section|General") do
  != f.input :name, :label => _("Description"), :required => true, :label => _("Name")
  != f.input :kind, :as => :select, :collection => Task::KINDS, :required => true, :label => _("Kind")
  != f.input :difficulty, :as => :select, :collection => Task::DIFFICULTIES, :required => true, :label => _("Difficulty")
  != f.input :full_nikkud, :as => :boolean, :label => _("Full Nikkud")

%br
- f.inputs :name => s_("task section|Task Settings") do
  - custom_properties_fields(f, "task")