!= render(:partial => "tasks/form", :locals => {:f => f})

- f.inputs do
  != f.input :assignee, :as => :select, :collection => User.all_volunteers.find(:all, :order => "users.name"), :label => _("Assignee")
  != f.input :editor, :as => :select, :collection => User.all_editors.find(:all, :order => "users.name"), :label => _("Editor")

  != f.input :admin_state, :label => _("State"), :as => :select, :collection => task_states_for_select

%br
- f.inputs :name => s_("task section|Task Settings") do
  - custom_properties_fields(f, "task")