- set_tab :tasks_admin, _("New Task")

- semantic_form_for(@task, :live_validations => true, :url => admin_tasks_path) do |f|
  - f.inputs do
    = f.object.errors.on(:base)
  != render(:partial => "form", :locals => {:f => f})
  - f.inputs do
    != f.submit "Save"
    != link_to "Cancel", admin_tasks_path

