- # admin eyes/own user only goes here

- if @user.activated_at
  - when_admin do
    %p
      != link_to "edit user's profile", edit_user_path(@user)

  - when_current_user do
    %p
      != link_to "edit my profile", edit_profile_path
    %p
      != link_to "change my password", password_edit_path
