%p
  %strong Name:
  =h @user.name
%p
  %strong Email:
  =h @user.email

- when_admin do
  %p
    != link_to "edit user's profile", edit_user_path(@user)

- when_current_user do
  %p
    != link_to "edit my profile", edit_profile_path
  %p
    != link_to "change my password", password_edit_path
