- page_title("Object Properties")

%h3 Edit project property

- # no live validations, scoped uniquness fails
- semantic_form_for(@property) do |f|
  = f.object.errors.on(:base)
  != render :partial => "form", :locals => { :f => f }
  != f.submit "Save"
  != link_to "Cancel", properties_path
