- set_tab :object_prefs, _("Edit Project Property")

- # no live validations, scoped uniquness fails
- semantic_form_for(@property) do |f|
  = f.object.errors.on(:base)
  != render :partial => "form", :locals => { :f => f }
  != f.submit _("Save")
  != link_to _("Cancel"), properties_path
