- page_title("Object Properties")

%h3 Object Properties

!= link_to "New", new_property_path

- unless @properties.blank?
  %table.list
    %tr.title
      %th Parent
      %th Name
      %th Type
      %th Public
      %th &nbsp;
    != render(:partial => @properties)

  != will_paginate(@properties)