%h3= _("Attach New Document")
- @document ||= @task.documents.build
- semantic_form_for(@document, :live_validations => false, :url => task_documents_path(@task), :html => { :multipart => true }) do |f|
  != render(:partial => "new", :locals => {:f => f})
  != f.submit _("Upload")
  != link_to _("Cancel"), task_path(@task)
  