%h3 Attach new document
- @document ||= @task.documents.build
- semantic_form_for(@document, :live_validations => false, :url => task_documents_path(@task)) do |f|
  != render(:partial => "new", :locals => {:f => f})
  != f.submit "Save"
  != link_to "Cancel", task_path(@task)
  