- set_tab :volunteer_requests

%h3 Volunteer Requests

%table.list
  %tr.title
    %th From
    %th When
    %th Reason
    %th &nbsp;
  != render(:partial => @volunteer_requests)

!= will_paginate(@volunteer_requests)