- @page_title = _("New Volunteer Request")
- render_page_title

- semantic_form_for(@volunteer_request, :live_validations => true) do |f|
  - f.inputs do
    = f.object.errors.on(:base)
    != f.input :reason, :as => :text
    != f.submit "Request"
    != link_to "Cancel", properties_path
