- set_tab :profile, _("Change Password")

- semantic_form_for(@user, :url => password_path(@user.perishable_token), :method => :put, :live_validations => true) do |f|
  != f.input :password, :label => _("Password")
  != f.input :password_confirmation, :label => _("Password Confirmation")
  != f.submit password_edit_submit, :value => _("Change")
