%h1= page_title _("Password Reset")

- semantic_form_for(@user, :url => passwords_path) do |f|
  != f.input :email
  != f.submit _("Send Password Reset instructions")

!= link_to _("login"), login_path, :class => "login"