= f.object.errors.on(:base)
- f.inputs do
  != f.input :start_displaying_at, :as => :date, :label => _("Show from"), :use_month_numbers => true
  != f.input :end_displaying_at, :as => :date, :label => _("Show until"), :use_month_numbers => true
  != f.input :html, :as => :text
