!= render(:partial => "tasks/index", :locals => {:tasks => current_user.editing_tasks.visible_in_my_tasks, :title => "My Editing Tasks"})

%h4 Other
!= link_to "Unassigned tasks (#{Task.unassigned.count})", tasks_path
