- set_tab :dashboard

- if current_user.might_become_volunteer?
  != button_to _("Become Volunteer"), new_volunteer_request_path, :method => :get

- when_admin do
  != link_to _("New Task"), new_admin_task_path
  - pending_volunteer_requests

!= render(:partial => "tasks/index", :locals => {:tasks => current_user.assigned_tasks.visible_in_my_tasks, :title => _("My Tasks")})


- when_editor do
  != render(:partial => "editor_dashboard")
