%tr{:class => cycle("odd", "even"), :id => "volunteer_kind_#{volunteer_kind.id}"}
  %td= volunteer_kind.name
  %td= volunteer_kind.volunteers.count
  %td= link_to _("Delete"), admin_volunteer_kind_path(volunteer_kind), :method => :delete, :remote => true
