- if "production" == RAILS_ENV
  %script{:type => "text/javascript", :src => "http://www.google.com/jsapi"}
  :javascript
    google.load("jquery", "1.3.2");
    google.load("jqueryui", "1.7.1");
- else
  != javascript_include_tag "jquery"
  != javascript_include_tag "jqueryui"