- f.fields_for("#{association_name}[#{property.id}]") do |upf|
  != upf.input :custom_value, :input_html => {:value => f.object.send(association_name).indexed_by_id[property.id].try(:custom_value)}, :label => h(property.title), :required => false
